<div class="login">
  <div class="container">
    <form class="login__form form" [formGroup]="form" (ngSubmit)="submit()">

      <div class="alert" *ngIf="authService.error$ | async as error">
        <p>{{ error }}</p>
      </div>

      <div class="form__control">
        <label for="email">Email:</label>
        <div class="validation" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']">
          <small>Введите email</small>
        </div>
        <div class="validation" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']">
          <small>Введите корректный email</small>
        </div>
        <input type="email" id="email" formControlName="email">
      </div>

      <div class="form__control">
        <label for="password">Пароль:</label>
        <div class="validation" *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']">
          <small>Введите пароль</small>
        </div>
        <div class="validation" *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['minlength']">
          <small>
            Необходимо минимум {{ form.get('password')?.errors?.['minlength']['requiredLength'] }} символов.
            Вы ввели: {{ form.get('password')?.errors?.['minlength']['actualLength'] }}
          </small>
        </div>
        <input type="password" id="password" formControlName="password">

      </div>

      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="form.invalid || submitted"
      >
        Войти
      </button>

    </form>
  </div>
</div>
